body {
  background-color: #201728;
  margin: 0;
  padding: 0;
}

button:hover {
  background-color: white;
}

.top-box {
  background-image: url("../kjd-assets/hearo-top.jpg");
  background-position: center;
  background-size: cover;
  height: 120vh;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 92%);
}

.top-box .heading {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.top-box .move_icon {
  color: white;
  margin-left: 98%;
  margin-top: 1%;
}

.top-box .white_arrow {
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.box_two {
  background-color: #70259b;
  height: 50%;
  width: 70%;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 420px;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
}

.box_two div {
  font-size: 265%;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: white;
  margin-top: 2%;
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
}

.box_two button {
  border: 1px solid #e100f2;
  background-color: #70259b;
  color: white;
  padding: 8px 30px;
  font-size: 10px;
  position: absolute;
  transform: translate(-70%, 270%);
}

.box_two .arrow_by_button {
  transform: translate(30%, 340%);
}

.box_three {
  margin-top: 50%;
}

.box_three .move_cross {
  position: absolute;
  top: 170%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.box_three .move_hex {
  transform: translate(90%, -125%);
}

.box_three .people {
  transform: translate(20%, -102%);
}

.box_three .scribble {
  transform: translate(20%, -720%);
}

.box_three .cross_arrow {
  transform: translate(50%, -300%);
}

.box_three .text-box {
  transform: translate(95%, -80%);
  width: 20%;
  z-index: 2;
}

.box_three .text-box .title {
  font-size: 350%;
  color: white;
}

.box_three .text-box p {
  color: white;
  font-family: "Gruppo", cursive;
}

.box_three .text-box button {
  border: 1px solid #ff00f2;
  background-color: #201728;
  color: white;
  padding: 8px 30px;
  font-size: 10px;
  position: absolute;
  transform: translate(0%, 50%);
}

.box_three .text-box button:hover {
  background-color: white;
}

.box_three .text-box .arrow_by_button {
  transform: translate(230%, 130%);
}

.box_four {
  height: 150vh;
  background-color: #6f249b;
  margin-top: -100px;
  clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
}

.box_four .circle {
  position: absolute;
  transform: translate(130%, 55%);
}

.box_four .robot {
  transform: translate(30%, 85%);
  box-shadow: -1px 2px 38px 7px rgba(0, 0, 0, 0.75);
}

.box_four .text-box-2 {
  transform: translate(300%, -50%);
  width: 20%;
}

.box_four .title_of_robot {
  font-size: 312%;
  color: white;
  transform: translate(-20%, 10%);
}

.box_four p {
  color: white;
  font-family: "Gruppo", cursive;
  transform: translate(20%, 10%);
}

.box_four button {
  border: 1px solid #ff00f2;
  background-color: #6f249b;
  color: white;
  padding: 8px 30px;
  font-size: 10px;
  position: absolute;
  transform: translate(50%, 80%);
}

.box_four button:hover {
  background-color: white;
  opacity: 0.3;
}

.box_four .arrow_by_button {
  transform: translate(370%, 170%);
}

.box_four .arrow_with_cross {
  float: right;
  transform: translate(-2250%, 95%);
}

.box_five {
  height: 70vh;
  background-color: white;
}

.box_five .grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.box_five .grid-container .grid-item {
  height: 300px;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.box_five .grid-container .grid-item h6 {
  color: #cc2068;
  text-align: left;
  padding-left: 3%;
  font-family: "Gruppo", cursive;
}

.box_five .grid-container .grid-item p {
  color: white;
  font-size: 250%;
  width: 90%;
  text-align: left;
  padding-left: 3%;
}

.box_five .grid-container .num_one {
  background-image: url(../kjd-assets/bg-square-gradient.png);
}

.box_five .grid-container .num_one .first_arrow {
  transform: translate(370%, 30%);
}

.box_five .grid-container .num_two {
  background-image: url(../kjd-assets/bg-rectangle-gradient.png);
}

.box_five .grid-container .num_two .second_arrow {
  transform: translate(400%, 300%);
}

.box_five .grid-container .num_three {
  background-image: url(../kjd-assets/bg-circle-gradient.png);
}

.box_five .grid-container .num_three .third_arrow {
  transform: translate(400%, 300%);
}

.box_six .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.box_six .grid-container .grid-item {
  height: 150px;
  text-align: center;
  padding: 30px;
  margin-left: -10px;
  margin-top: 10px;
}

.box_six .grid-container .grid-item h2 {
  color: #cc2068;
  text-align: left;
  padding-left: 3%;
}

.box_six .grid-container .grid-item p {
  color: white;
  font-size: 100%;
  width: 90%;
  text-align: left;
  padding-left: 3%;
  font-family: "Gruppo", cursive;
}

@media (max-width: 910px) {
  .top-box {
    background-image: url(../kjd-assets/hearo-top.jpg);
    background-position: center;
    background-size: cover;
    height: 120vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 89%);
  }
  .top-box .heading {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .top-box .move_icon {
    color: white;
    margin-left: 96%;
    margin-top: 1%;
  }
  .top-box .white_arrow {
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .box_two {
    background-color: #6f249b;
    height: 50%;
    width: 70%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 420px;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  }
  .box_two div {
    font-size: 150%;
    font-family: "Playfair Display", serif;
    text-align: center;
    color: white;
    margin-top: 5%;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
  }
  .box_two button {
    border: 1px solid #ff00f2;
    background-color: #6f249b;
    color: white;
    padding: 8px 30px;
    font-size: 10px;
    position: absolute;
    transform: translate(-90%, 270%);
  }
  .box_two button:hover {
    background-color: white;
  }
  .box_two .arrow_by_button {
    transform: translate(-10%, 450%);
  }
  .box_three {
    margin-top: 50%;
  }
  .box_three .move_cross {
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .box_three .move_hex {
    transform: translate(70%, 0%);
    width: 30%;
    height: 30%;
  }
  .box_four {
    height: 100vh;
    background-color: #6f249b;
    margin-top: -200px;
    clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
  }
}
/*# sourceMappingURL=index.css.map */